
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
 .tate{
    height: 570px;
    width: 590px;
 }
 .atate{
    height: 570px;
    width: 590px;
 }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  header p{
    font-size: x-large;
    animation: change-color 3s infinite;

  }
  @keyframes change-color {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow }
    100% { color: purple; }
  }
  header img{
    height: 163px;
    width: 200px;
  }
  
  h1 {
    margin: 0;
    font-size: 48px;

  }

  

  audio {
    width: 150px;
    margin-right: 20px;
  }
  
 
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B87333;
  color: #333;
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 48px;
}


audio {
  width: 150px;
  margin-right: 20px;
}


main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

  
  
