html, body {
  height: 100%;
  width: 100%;
  font-family:'Roboto', Times, serif; 
  background-color: black;
}
.row{ 
  background-color: #00b7ff;
  padding: 20px;
  display: inline-block;
}
 .button{
  width: 70px;
  padding: 20px;
  margin: 0 3px; 
  border: 2px ;
  border-radius: 9px;
  font-style: calc();
  cursor: pointer;

} 

.row input{
  width: 306px;
  font-size: 20px;
    margin: 0 3px;
   padding: 10px 0px; 
    border: 2px solid rgb(34, 1, 1);
    border-radius: 5px;
}
.del {
  background-color: red;
  width: 310px;
  font-size: 20px;
    margin: 0 3px;
   padding: 10px 0px; 
    border: 2px solid rgb(34, 1, 1);
    border-radius: 5px;
}